In [6]:
import pandas as pd
from IPython.display import display

In [ ]:
file_path = "int_courts_naf_rev_2.xls"

ape_df = pd.read_excel(file_path, sheet_name="NAF rév. 2", engine="xlrd")

ape_df.columns = [c.strip().replace("\n","") for c in ape_df.columns]

# Vérifier les noms
print(ape_df.columns.tolist())

['ligne', 'Code', 'Intitulés de la  NAF rév. 2, version finale', 'Intitulés NAF rév. 2, en 65 caractères', 'Intitulés NAF rév. 2, en 40 caractères']

In [3]:
ape_df = ape_df[ape_df["Code"].notna()]
ape_df = ape_df[~ape_df["Code"].str.contains("SECTION")]

# On garde uniquement le code et le libellé complet
ape_df = ape_df[["Code", "Intitulés de la  NAF rév. 2, version finale"]]
ape_df.columns = ["code_ape", "libelle_ape"]

# On réinitialise l'index pour l'affichage
ape_df = ape_df.reset_index(drop=True)

# Vérifions le résultat
ape_df.head(100)

   code_ape                                        libelle_ape
0        01  Culture et production animale, chasse et servi...
1      01.1                           Cultures non permanentes
2     01.11  Culture de céréales (à l'exception du riz), de...
3    01.11Z  Culture de céréales (à l'exception du riz), de...
4     01.12                                     Culture du riz
..      ...                                                ...
95     05.1                              Extraction de houille
96    05.10                              Extraction de houille
97   05.10Z                              Extraction de houille
98     05.2                              Extraction de lignite
99    05.20                              Extraction de lignite

[100 rows x 2 columns]

In [7]:
# Affiche les 10 premières lignes sans index
display(ape_df.head(10).style.hide(axis="index"))

In [ ]:
# ape_df.to_csv("codes_ape.csv", index=False, encoding="utf-8-sig")