#### Fusion des csv pour EDA

In [1]:
import pandas as pd

In [2]:
open = pd.read_parquet('dataset_open_final.parquet')

print(f"Dataset fermé chargé : {open.shape[0]} lignes, {open.shape[1]} colonnes")
open.head()

Dataset fermé chargé : 772672 lignes, 17 colonnes

,SIREN,Code postal de l'établissement,Code commune de l'établissement,Dénomination de l'unité légale,Catégorie juridique de l'unité légale,Activité principale de l'unité légale,Economie sociale et solidaire unité légale,Code du département de l'établissement,Code de la région de l'établissement,Date_fermeture_finale,Tranche_effectif_num,age_estime,latitude,longitude,code_ape,libelle_section_ape,fermeture
0,912239670,26740,26191,LES TOITURES PERENNES,5499,43.91A,N,26,84,2025-12-31,3,4,44.547994,4.796421,43,Travaux de construction spécialisés,0
1,389091893,91270,91657,OCB,5499,43.99C,N,91,11,2025-12-31,10,33,48.715618,2.434367,43,Travaux de construction spécialisés,0
2,888366747,30310,30344,COMME UN DIADEME,5710,47.91A,N,30,76,2025-12-31,1,5,43.743188,4.206208,47,"Commerce de détail, à l’exception des automobi...",0
3,953937455,75008,75108,WE CLEAN HOLDING PARNASSA,5710,66.30Z,N,75,11,2025-12-31,0,2,48.873057,2.316605,66,Activités auxiliaires de services financiers e...,0
4,840236111,94440,94070,LEVIO,5710,96.02A,N,94,11,2025-12-31,1,8,48.728308,2.574656,96,Autres services personnels,0

In [3]:
closed = pd.read_parquet('dataset_closed_final.parquet')

print(f"Dataset fermé chargé : {closed.shape[0]} lignes, {closed.shape[1]} colonnes")
closed.head()

Dataset fermé chargé : 429783 lignes, 17 colonnes

,SIREN,Code postal de l'établissement,Code commune de l'établissement,Dénomination de l'unité légale,Catégorie juridique de l'unité légale,Activité principale de l'unité légale,Economie sociale et solidaire unité légale,Code du département de l'établissement,Code de la région de l'établissement,Date_fermeture_finale,Tranche_effectif_num,age_estime,latitude,longitude,code_ape,libelle_section_ape,fermeture
0,384210365,92110,92024,GIP,5710,70.21Z,N,92,11,2024-06-20,0,33,48.910599,2.312016,70,Activités des sièges sociaux ; conseil de gestion,1
1,812603645,30126,30326,TERRES DE RIBAT,5710,42.99Z,N,30,76,2024-03-31,0,9,44.009811,4.701092,42,Génie civil,1
2,980519490,12390,12142,OCCIPARK,5499,23.61Z,N,12,76,2024-10-02,0,1,44.393300,2.376998,23,Fabrication d'autres produits minéraux non mét...,1
3,893192823,75006,75106,BLINK,5710,47.91A,N,75,11,2025-06-30,0,4,48.842141,2.334611,47,"Commerce de détail, à l’exception des automobi...",1
4,422362426,60800,60176,ODENT DEVELOPPEMENTS HOLDING,5499,43.34Z,N,60,32,2023-03-30,0,24,49.228804,2.900253,43,Travaux de construction spécialisés,1

In [4]:
full = pd.concat([open, closed], ignore_index=True)

print(full.shape)
print(full["fermeture"].value_counts())

(1202455, 17)
fermeture
0    772672
1    429783
Name: count, dtype: int64

In [5]:
full.head()

,SIREN,Code postal de l'établissement,Code commune de l'établissement,Dénomination de l'unité légale,Catégorie juridique de l'unité légale,Activité principale de l'unité légale,Economie sociale et solidaire unité légale,Code du département de l'établissement,Code de la région de l'établissement,Date_fermeture_finale,Tranche_effectif_num,age_estime,latitude,longitude,code_ape,libelle_section_ape,fermeture
0,912239670,26740,26191,LES TOITURES PERENNES,5499,43.91A,N,26,84,2025-12-31,3,4,44.547994,4.796421,43,Travaux de construction spécialisés,0
1,389091893,91270,91657,OCB,5499,43.99C,N,91,11,2025-12-31,10,33,48.715618,2.434367,43,Travaux de construction spécialisés,0
2,888366747,30310,30344,COMME UN DIADEME,5710,47.91A,N,30,76,2025-12-31,1,5,43.743188,4.206208,47,"Commerce de détail, à l’exception des automobi...",0
3,953937455,75008,75108,WE CLEAN HOLDING PARNASSA,5710,66.30Z,N,75,11,2025-12-31,0,2,48.873057,2.316605,66,Activités auxiliaires de services financiers e...,0
4,840236111,94440,94070,LEVIO,5710,96.02A,N,94,11,2025-12-31,1,8,48.728308,2.574656,96,Autres services personnels,0

##### Vérification des Nan

In [6]:
full.isna().sum().sort_values(ascending=False)

SIREN                                         0
Date_fermeture_finale                         0
libelle_section_ape                           0
code_ape                                      0
longitude                                     0
latitude                                      0
age_estime                                    0
Tranche_effectif_num                          0
Code de la région de l'établissement          0
Code postal de l'établissement                0
Code du département de l'établissement        0
Economie sociale et solidaire unité légale    0
Activité principale de l'unité légale         0
Catégorie juridique de l'unité légale         0
Dénomination de l'unité légale                0
Code commune de l'établissement               0
fermeture                                     0
dtype: int64

---

#### Export Parquet

In [ ]:
# full.to_parquet("dataset_full.parquet", index=False)